@charset "UTF-8";

/* 重置元素属性与公共样式
 ********************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: inherit;
}

a,
button,
input,
textarea {
  border: none;
  touch-action: manipulation;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

ul,
li,
iframe {
  /* 使移动端滚动流畅 */
  -webkit-overflow-scrolling: touch;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  line-height: 1;
  font-family: -apple-system, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* app内容
  ********************/
[v-cloak] {
  display: none;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

#iosStatusBar {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: all .3s linear;
}

.app-header-bar,
.app-footer-tab {
  z-index: 100;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .3s linear;
}

.app-main {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: height .3s ease;
}

.main__iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.block__clear-both::before,
.block__clear-both::after {
  content: '';
  display: table;
  width: 0;
  height: 0;
  visibility: hidden;
}

.block__clear-both::after {
  clear: both;
}

/* 重写组件样式
 ********************/
.app-header-bar .van-icon {
  color: #333;
}

.van-dialog {
  width: 270px;
  border-radius: 7px;
}

.van-dialog__header {
  font-size: 18px;
  color: #000;
}

.van-dialog__message--has-title {
  font-size: 15px;
  color: #888;
}

.van-dialog .van-button {
  font-size: 18px;
}

.van-dialog .van-dialog__confirm,
.van-dialog .van-dialog__confirm:active {
  color: #1b84f9;
}

.van-toast--text {
  min-width: auto;
}

.blocking{
  display:block;
}

.fstLi{
  display:block;
  height:1.5rem;
  line-height:1.5rem;
  width:calc(100% - 1rem);
  margin-left:.5rem;
  margin-right:.5rem;
  
  border-bottom:1px solid orange;
}

.icon{
  width:1.5rem;
  height:1.5rem;
  border-radius:1.5rem;
}

.left{
  float:left;
  
}

.righttext{
  text-align:right;
}